<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN" "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd">
<taglib>

  <tlib-version>1.0</tlib-version>
  <jsp-version>2.0</jsp-version>
  <short-name>testing</short-name>
  <uri>http://www.tomcat-demo.com/testing</uri>
  <description>This is a demonstration tag library</description>

  <tag>
    <name>header</name>
    <tag-class>org.example.tags.HeaderTag</tag-class>
    <body-content>scriptless</body-content>
    <description>This tag is for displaying headers</description>
    <attribute>
      <name>headerSize</name>
      <required>false</required>
      <rtexprvalue>true</rtexprvalue>
      <type>int</type>
    </attribute>
  </tag>

</taglib>
