<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN" "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd">
<taglib>

  <tlib-version>1.0</tlib-version>
  <jsp-version>2.0</jsp-version>
  <short-name>testing</short-name>
  <uri>http://table.tags.example.org</uri>
  <description>This is a demonstration tag library</description>

  <tag>
    <name>tableau</name>
    <tag-class>org.example.tags.TableauTag</tag-class>
    <body-content>scriptless</body-content>
    <description>This tag is for displaying tables</description>
    <attribute>
      <name>centrer</name>
      <required>true</required>
    </attribute>
  </tag>

  <tag>
    <name>ligne</name>
    <tag-class>org.example.tags.LigneTag</tag-class>
    <body-content>scriptless</body-content>
    <description>This tag is for displaying table rows</description>
  </tag>

</taglib>
